# Default owners for implementation and infra
* @paulirish @micahjo7

# Blanket ownerless overrides for content (rely entirely on atl-triage bot instead)
guides/
features/

# CODEOWNERS config
CODEOWNERS @paulirish @rviscomi @micahjo7

# Critical infra & workflow files (redundant but the explicitness is nice)
.github/ @paulirish @micahjo7
package.json @paulirish @micahjo7
pnpm-lock.yaml @paulirish @micahjo7
.github/atls.json @rviscomi @paulirish @micahjo7

# Eval files
src/grading/ @TravenReese @micahjo7
**/targets/ @TravenReese @micahjo7
**/grader.ts @TravenReese @micahjo7
**/tasks/task.md @TravenReese @micahjo7
